.month-nav {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0;
}

.month-nav > button {
  margin: 1rem;
}

.month-nav-title {
  width: 15rem;
}

.month-ul {
  display: flex;
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  background: #a9b8b6;
  justify-content: space-around;
}

.month-li {
  margin-right: 0.5rem;
  list-style-type: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.month-day {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  font-size: 2rem;
  margin: 0.5rem;
  background: #a9b8b6;
}

.month-day:hover {
  cursor: pointer;
}

.month-day:hover h1 {
  animation: x-axis 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes x-axis {
  100% {
    transform: translateY(-4rem) scale(0.6);
  }
}

.month-day:hover .day-list {
  animation: display 2s ease;
  animation-fill-mode: forwards;
}

@keyframes display {
  100% {
    opacity: 80%;
  }
}

.month-days-container {
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: repeat(auto, 1fr);
}

.padding {
  border: 0 solid black;
  background: #889492;
}

#currentDay {
  background-color: #cce3e0;
}

button {
  width: 5rem;
  height: 5rem;
}

button:hover {
  cursor: pointer;
}
