.day-div {
  height: 100%;
}

.day-div > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}

.day-number {
}

.day-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  position: relative;
  top: -10rem;
  font-size: 1.2rem;
}

.day-list > li:hover {
  transform: scale(1.18);
}

.day-agregar-tarea {
  align-self: flex-end;
  opacity: 50%;
  z-index: 100;
}

.day-agregar-tarea:hover {
  transform: scale(1.3);
}
