.nav {
  background: #dee0e3;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  background: #666d7a;
}

li {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 10px;
}

li:hover {
  transform: scale(1.25);
  cursor: pointer;
}
/*
a {
  text-decoration: none;
  color: black;
}
*/
